<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Event</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    {% include 'basenav.html' %}
    <br>
    <br>
    <main style="margin: 50px auto; max-width: 600px;">
        <h1>Add Event</h1>
        <form action="" method="POST" id="add-event-form">
            <table>
                <tbody>
                    <tr>
                        <td><label for="event">Event:</label></td>
                        <td>
                            <input type="text" id="event" name="event" class="form-input" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="tag">Tag:</label></td>
                        <td>
                            <input type="text" id="tag" name="tag" class="form-input" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="sport">Sport:</label></td>
                        <td>
                            <input type="text" id="sport" name="sport" class="form-input" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="sport_code">Sport Code:</label></td>
                        <td>
                            <input type="text" id="sport_code" name="sport_code" class="form-input">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="sport_url">Sport URL:</label></td>
                        <td>
                            <input type="url" id="sport_url" name="sport_url" class="form-input">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center; margin-top: 20px;">
                <button type="submit" class="btn">Add Event</button>
            </div>
        </form>
    </main>
</body>
</html>
